<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le fourm de la fourme et du lore Elden Ring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/fourmStyle.css">
</head>
<body>

    <header>
        <div class="leToutHaut">
            <div class="flex justifyBetween">
                <div>
                    <p class="ml1">Bienvenue, 
                        <span id="nomHeader">
    
                        </span>
                    </p>
                </div>
                <div>
                    <p>Nous sommes le 
                        <span id="dateHeader">
    
                        </span>
                    </p>
                </div>
                <div>
                    <p>Vous vous êtes connecté à 
                        <span id="dateCoHeader">
    
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex justifyEvenly boxLinks">
            <a href="../index.html" class="linkHeader">Accueil</a>
            <a href="./forum.html" class="linkHeader">Fourm</a>
            <a href="./login.html" class="linkHeader">Login</a>
        </div>
    </header>

    
    <div class="borderFF flex justifyCenter my2">
        <p>Bienvenue dans le <span>Fourm</span>, ou vous pouvez parler de <span>Fourme</span> ou du <span>Lore d'Elden Ring</span> sans discrimination de l'un ou l'autre.</p>
    </div>

    <div class="flex justifyBetween">
        <div class="card">
            <div class="flex justifyCenter">
                <img src="../assets/img/fourmeCard.jpg" alt="Fourme" class="imgCard">
            </div>
            <p class="ml1 my2">La <span>Fourme</span>, Le Fromage des Dieux</p>
            <button id="goToFourme">Parlez-en !</button>
        </div>
        <div class="card">
            <div class="flex justifyCenter">
                <img src="../assets/img/loreOuFromageCard.jpg" alt="Fourme" class="imgCard">
            </div>
            <p class="ml1 my2"><span>Lore</span> ou <span>Fromage</span>, peu importe.</p>
            <button id="goToLore">Parlez-en !</button>
        </div>
        <div class="card">
            <div class="flex justifyCenter">
                <img src="../assets/img/eldenRingCard.jpg" alt="Elden Ring" class="imgCard">
            </div>
            <p class="ml1 my2"><span>ELDEN RING</span>, GOTY 2022</p>
            <button id="goToFeur">Parlez-en !</button>
        </div>
    </div>





    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>